<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>551473687289-o09atiklle03rsic29019scc61kiqbtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.551473687289-o09atiklle03rsic29019scc61kiqbtp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>551473687289-ln9vu816qmv4i3bqsjnf4u0ql8eag5vp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCOXxyNID0DmSjcGjLDB4pTD8q1fVxCbAc</string>
	<key>GCM_SENDER_ID</key>
	<string>551473687289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>singhsduos.fdemo</string>
	<key>PROJECT_ID</key>
	<string>flutterdemo-75b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterdemo-75b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:551473687289:ios:059e709193af9a1645d028</string>
	<key>DATABASE_URL</key>
	<string>https://flutterdemo-75b3f.firebaseio.com</string>
</dict>
</plist>